root = true

[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8-bom
csharp_new_line_before_open_brace = all
csharp_style_namespace_declarations = file_scoped:error
csharp_using_directive_placement = outside_namespace:error
dotnet_sort_system_directives_first = true
csharp_prefer_braces = true:warning
